name: Docker Image CI

on:
  push:
    branches: 
    - 'main'
    - 'feature/**'
  pull_request:
    branches:  
    - 'main'
    - 'feature/**'

jobs:

  build:

    runs-on: self-hosted

    steps:
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        context: .
        file: ./Dockerfile
        push: false
        tags: vllm-rocm:latest